/*  #d4d6d8 dice grey
    #1d1818 eerie black
    #f71735 imperial red
    #264c5e charcoal*/


* {
    background-color: #d4d6d8;
}

.hidden {
    display: none;
}

.character {
    border: 2px black solid;
    border-radius: 1rem;
    margin: 10px;
}

.char-row{
    display: block !important;
    padding-left: 0px !important;
    width: 99% !important;
}

.character div {
    display: inline-block;
    margin: 10px;
    padding-left: 20px;
    vertical-align: top;
    width: 40%;
}

.edit-container{
    width: 14% !important;
    align-content: right;
}

.edit-container button{
    float: right;
}

.campaign {
    border: 2px black solid;
    border-radius: 1rem;
    margin: 10px;
}

.campaign div {
    display: inline-block;
    margin: 10px;
    padding-left: 20px;
    vertical-align: top;
    width: 40%;
}

.api {
    margin-top: -5px;
    font-size: 50px;
}

@font-face {
    font-family: draconic;
    src: url(design/draconis-font/Draconis-JRw6B.ttf);
}

h1 {
    font-family: draconic;
    font-weight: normal;
    font-size: 300%;
    color: #f71735;
    background-color: #1d1818;
    padding: 10px;
}

textarea {
    width: 70%;
    height: 200px;
}

.ulink {
    padding-left: 10px;
}

.regForm {
    padding-left: 10px;
}

.registerLink {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dice {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent !important;
}
.diceImg {
    background-color: transparent !important;
}

.blank {
    max-width: 85px;
    background: none !important;
}

.roll {
    margin-left: -52px;
    text-align: center;
}

.homepage h2 {
    font-family: draconic;
    font-weight: normal;
    text-align: center;
}

.nav li {
    display: inline-block;
    padding: 5px;
}

.nav-item {
    align-items: left;
}

.form-card {
    border-radius: 50px;
    padding: 30px;
}

.form-control {
    display: inline-block;
    width: 40%;
    margin: 10px;
}

.textbox {
    display: block;
    width: 100%;
    margin: 10px;
}

input[type="number"] {
    display: inline-block;
    max-width: 15%;
    margin-left: 10px;
}

.form-select {
    display: inline-block;
    width: 40%;
    margin-left: 10px;
}

.form-title {
    text-align: center;
}

form {
    text-align: center;
}

.btn-grey{
    background-color: #264c5e;
    border-radius: .25rem;
    color: #ffffff;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-height: 350px;
    max-width: 350px;
}