/*  d4d6d8 dice grey
    1d1818 eerie black
    f71735 imperial red*/


.character {
    border: 1px black solid;
    margin: 10px;
}

.character div {
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;
    width: 40%;
}

.campaign {
    border: 1px black solid;
    margin: 10px;
}

.campaign div {
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;
    width: 40%;
}

.api{
    margin-top: -5px;
    font-size: 25px;
}

@font-face {
    font-family: draconic;
    src: url(design/draconis-font/Draconis-JRw6B.ttf);
}
.homepage h1 {
    font-family: draconic;
    font-weight: normal;
    font-size: 300%;
}