/*  d4d6d8 dice grey
    1d1818 eerie black
    f71735 imperial red*/


* {
    background-color: #d4d6d8;
}
.hidden {
    display: none;
}

.character {
    border: 1px black solid;
    margin: 10px;
}

.character div {
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;
    width: 40%;
}

.campaign {
    border: 1px black solid;
    margin: 10px;
}

.campaign div {
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;
    width: 40%;
}

.api{
    margin-top: -5px;
    font-size: 25px;
}

@font-face {
    font-family: draconic;
    src: url(design/draconis-font/Draconis-JRw6B.ttf);
}



h1 {
    font-family: draconic;
    font-weight: normal;
    font-size: 300%;
    color: #f71735;
    background-color: #1d1818;
    padding: 10px;
}

.dice {
    position: absolute;
    object-position: bottom 30px;
    
}
.blank {
    max-width: 85px;
    background: none !important; 
}

.roll {
    margin-left: -50px;
    align-items: center;
}

.homepage h2 {
    font-family: draconic;
    font-weight: normal;
    text-align: center; 
}

.nav li{
    display: inline-block;
    padding: 5px;
}

.form-card {
    border-radius: 50px;
    padding: 30px;
}

.form-control {
    display: inline-block;
    width: 40%;
}

input[type="number"] {
    display: inline-block;
    max-width: 15%;
    margin-left: 10px;
}

.form-select {
    display: inline-block;
    width: 40%;
}

.form-title {
    text-align: center;
}

form {
    text-align: center;
}